* {
  margin: 0px;
  padding: 0px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
}

.buttons button,
.container h1,
.container p {
  margin: 20px 10px;
}

.buttons button {
  padding: 5px;
  background-color: transparent;
}

.buttons button:hover {
  cursor: pointer;
}
